* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
  }
  
  body {
    background: linear-gradient(180deg, rgb(89, 76, 238) 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .hide {
    display: none;
  }

  
  .container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
  }

 